<!-- Config.xml -->
<Algorithms>
        <Program name="DAFS" desc="Simultaneous aligning and folding of RNA sequences via dual decomposition.">C:/user/Anahit/Documents/DAFS</Program>
        <Program name="PhyloQFold" desc="Method that takes advantage of the evolutionary history of a group of aligned RNA sequences for sampling consensus secondary structures, including pseudoknots, according to their approximate posterior probability.">C:/user/Anahit/Documents/PhyloQFold</Program>
</Algorithms>
