<!-- Config.xml -->
<Algorithms>
        <Program name="RNAPKplex" desc="Predicts RNA secondary structures including pseudoknots">C:\Users\Anahit\Documents\RNAPKplex\debug\RNAPKplex.dll</Program>
        <Program name="PhyloQFold" desc="Method that takes advantage of the evolutionary history of a group of aligned RNA sequences for sampling consensus secondary structures, including pseudoknots, according to their approximate posterior probability.">C:/user/Anahit/Documents/PhyloQFold</Program>
</Algorithms>
